doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		title Библиотека им. Маяковского в Санкт-Петербурге
		meta(name='description' content='TEGRUS реализовал комплексный проект по созданию дата-центра для библиотеки им. Маяковского')
		meta(property='og:title' content='Библиотека им. Маяковского в Санкт-Петербурге')
		meta(property='og:description' content='TEGRUS реализовал комплексный проект по созданию дата-центра для библиотеки им. Маяковского')
		meta(property='og:image' content='img/banner-768.jpg')
		meta(name='robots' content='noindex, nofollow')
		link(rel='shortcut icon' type='image/png' href='img/favicon.ico')
		link(href='css/style.css' rel='stylesheet' type='text/css')
	body
		header.header
			.container.header__container
				.wrapper.header__wrapper
					.row.header__row
						.content.header__content
							.logo_item.logo_tegrus
								a(href='https://tegrus.ru' target='_blank')
									img(src='img/logo_tegrus.svg' alt='TEGRUS')
							.logo_item.logo_huawei
								a(href='https://huawei.ru' target='_blank')
									img(src='img/logo_huawei.svg' alt='Huawei')
		main
			section.banner
				.container.banner__container
					.wrapper.banner__wrapper
						.row.banner__row
							.content.banner__content
								.text_container
									h1 TEGRUS построил ЦОД 
									span
										| для библиотеки им. Маяковского
										br
										| в 
										nobr Санкт-Петербурге
									p
										| TEGRUS, российский системный интегратор и поставщик ИТ-услуг, входящий в ТОП-20 крупнейших ИТ-компаний России, реализовал комплексный проект по созданию дата-центра для библиотеки им. Маяковского, включая инженерную инфраструктуру
			section.main
				.container.task
					.wrapper
						.row
							.col.col_left
								.content
									.text_container
										h2 Задача
							.col.col_right
								.content
									.text_container._anim-items._anim-no-hide
										p
											| Создание уникальной корпоративной системы библиотечного обслуживания в ходе модернизации здания библиотеки на набережной реки Фонтанки, д.44, чтобы в будущем разместить в нем цифровые мощности всей объединённой сети библиотек Санкт-Петербурга
				.container.realization
					.wrapper
						.row
							.content
								.text_container
									h2 Реализация
						.row
							.content
								.step_item._anim-items._anim-no-hide
									p
										| Специалисты TEGRUS создали для библиотеки концепцию комплексного проекта по созданию инженерной инфраструктуры ЦОД
								.step_item._anim-items._anim-no-hide
									p Провели расчет оптимальной конфигурации всех инженерных систем
								.step_item._anim-items._anim-no-hide
									p Спроектировали интеграцию систем
								.step_item._anim-items._anim-no-hide
									p Выполнили инсталляцию
								.step_item._anim-items._anim-no-hide
									p
										| Произвели настройку, тестирование и запуск ИТ-инфраструктуры в промышленную эксплуатацию
				.container.equipment
					.wrapper_full
						.row
							.col.col_left
								.content
									.img_container
										img(src='img/library.webp' alt='Оснащение')
							.col.col_right
								.content
									.text_container
										h2 Оснащение
										ul.list._anim-items._anim-no-hide
											li Система прецизионного кондиционирования воздуха
											li Система мониторинга физических параметров среды
											li Система бесперебойного питания и распределения питания
											li Структурированная кабельная система
			section.infrastructure
				.container
					.wrapper
						.row
							.col.col_left
								.content
									.text_container
										h3
											| Инженерная инфраструктура ЦОД представляет собой комплекс взаимосвязанных и взаимодействующих систем
							.col.col_right
								.content.numbers_block
									.number_item
										.number(data-max='20') 0
										.description
											| квадратных метров
											br
											| площадь нового ЦОД
									.number_item
										.number(data-max='6') 0
										.description стоек
									.number_item
										.number(data-max='6') 0
										.description недель — срок реализации проекта
			section.solution
				.container.product
					.row
						.col.col_left
							.wrapper
								.content
									.text_container
										h2 Выбор решений
										p
											| Вся инфраструктура ЦОДа была реализована на базе оборудования и решений компании 
											strong Huawei
											| .
										p
											| Выбор был сделан в пользу Huawei, так как основное комплексное решение 
											strong FusionModule2000
											|  данного производителя отличается высокой степенью интеграции, экономией пространства ЦОД, высокой энергоэффективностью, возможностью быстрой установки, оптимальной совместимостью, полномасштабной системой мониторинга и стабильным охлаждением, а также исключительной безопасностью и надежностью.
										p
											| Также в реконструируемом здании библиотеки специалисты TEGRUS развернули полноценную систему Wi-Fi. Сеть будет использоваться как посетителями библиотеки, так и ее сотрудниками. Для полноценного покрытия использовались точки доступа Huawei. Система получилась бесшовной и с возможностью расширения на соседние здания заказчика.
										p
											| По результатам проекта библиотека им. Маяковского получила современный, технологичный, соответствующий всем отраслевым требованиям ЦОД и надёжную инженерную инфраструктуру.
						.col.col_right
							.img_container
								img(src='img/fusion_module_2000.webp' alt='FusionModule2000')
				.container.review
					.wrapper_full
						.row
							.col.col_left
								.content
									.slider
										div
											img(src='img/photo_02.webp' alt='фото 2')
										div
											img(src='img/photo_03.webp' alt='фото 3')
										div
											img(src='img/photo_01.webp' alt='фото 1')
									.comment
										span Библиотека им. Маяковского откроется после реконструкции 7 октября 2021 г.
							.col.col_right
								.content
									.quote
										.text_container
											p
												| "Здание библиотеки им. Маяковского является памятником истории и культуры. Кроме того, рядом со зданием тоже находятся исторические дома — все это нам необходимо было учитывать.
											p
												| В этом была и уникальность, и сложность данного проекта. Конечно, иногда в процессе работ у нас возникали ограничения из-за этого. Так, например, нам не удалось полностью покрыть беспроводной сетью придомовую территорию двора, так как фасад здания должен оставаться неприкосновенным и размещать на нем какие-либо устройства, даже небольшие точки доступа, нельзя.
											p
												| Однако, с большинством сложностей благодаря экспертизе и компетенциям наших инженеров и монтажников мы успешно справились"
											.comment
												| комментирует Алекcандр Михайлов,
												br
												| технический директор TEGRUS.
			section.form
				.container
					.wrapper_full
						.row
							.form#requestForm
								form(action="#" method='POST' enctype='multipart/form-data')
									.form_title
										h2
											| Получите расчет
											br
											| вашего решения
									.register
										.form_inputs
											fieldset.input_box.input_text
												input(type='text' placeholder='Имя Фамилия' data-validate-field="name" autocomplete='off')
											fieldset.input_box.input_text
												input(type='text' placeholder='Название компании' data-validate-field="company" autocomplete='off')
											fieldset.input_box.input_text
												input(type='email' placeholder='E-mail' data-validate-field="email" autocomplete='off')
											fieldset.input_box.input_textarea
												textarea(placeholder='Ваш вопрос' data-validate-field="question" autocomplete='off')
										.form_check
											fieldset.checkbox-field
												input#requestForm_policyCheckbox(type='checkbox' name='policy' value='1')
												label.customCheckbox(for='requestForm_policyCheckbox')
											.input.text
												| Согласен с условиями 
												a(href='https://tegrus.ru/about/privacy-policy/' target='_blank') политики обработки персональных данных
										.form_submit
											input.sendbutton(type='submit' value='Отправить' name='subm')
		footer
			.container
				.wrapper
					.row
						.col.col_left
							.content
								a(href='https://tegrus.ru' target="_blank")
									img(src='img/logo_footer.svg' alt='Tegrus')
						.col.col_right
							.row
								.col
									.content
										strong Адрес
										br
										| МО, г. Красногорск,
										br
										| бульвар Строителей, д. 4,
										br
										| БЦ «Кубик», блок «Б» (м. Мякинино)
								.col
									.content
										strong Контакты
										br
										a(href='mailto:info@tegrus.ru' target='_blank')
											nobr info@tegrus.ru
										br
										a(href='tel:+74952800230')
											nobr +7 (495) 280-02-30
			.container
				.wrapper
					.row
						.col
							.content
								| © 2023, ООО «МП»
								nobr Все права защищены.
		a#getSolutionButton(href='#requestForm')
			span Подобрать решение 
		script(src='libs/jquery-3.5.1.min.js')
		script(src='libs/slick.min.js')
		script(src='libs/just-validate.min.js')
		script(src='js/main.js')
